.Tag {
    padding: 4px 24px;
    font-size: 14px;
    border-radius: 20px;
    width: fit-content;

    &.blue {
        background-color: #B9D5E9;
        color: #024879
    }

    &.pink {
        background-color: #EFCFCE;
        color: #7C403E
    }


    &.purple {
        background-color: #E4C5D4;
        color: #7D3458
    }

    &.green {
        background-color: #BFCDAB;
        color: #334021;            
    }

    &.yellow {
        background-color: #FFD5A3;
        color: #865B28;            
    }
}