.Tag {
  padding: 4px 24px;
  font-size: 14px;
  border-radius: 20px;
  width: fit-content;

  &.blue {
    background-color: var(--blue-100);
    color: var(--blue);
  }

  &.pink {
    background-color: var(--pink-200);
    color: var(--pink-400);
  }

  &.purple {
    background-color: var(--purple-100);
    color: var(--purple);
  }

  &.green {
    background-color: var(--green-100);
    color: var(--green-400);
  }

  &.yellow {
    background-color: var(--yellow-100);
    color: var(--yellow-400);
  }
}
