.Tag {
  padding: 4px 24px;
  font-size: 14px;
  border-radius: 20px;
  width: fit-content;

  &.blue {
    background-color: #b9d5e9;
    color: #024879;
  }

  &.pink {
    background-color: #efcfce;
    color: #7c403e;
  }

  &.purple {
    background-color: #e4c5d4;
    color: #7d3458;
  }

  &.green {
    background-color: #bfcdab;
    color: #334021;
  }

  &.yellow {
    background-color: #ffd5a3;
    color: #865b28;
  }
}
