.DetailsRecipe {
  padding: 16px 16px 60px;
  margin: auto;
  max-width: 1200px;

  &-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 80%;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &--title {
      font-size: 16px;
      color: #7d3458;
      margin: 0;
      font-family: HomemadeApple;
      cursor: pointer;
    }

    &--button {
      margin-top: 16px;
      background-color: #7d3458;
      border: none;
      color: #ffffff;
      padding: 8px 32px;
      border-radius: 40px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow:
          0 4px 12px 0 rgba(135, 135, 135, 0.5),
          0 4px 0px 0 rgba(135, 135, 135, 0.05);
      }
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    &--image {
      width: 100%;
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--icons {
      display: flex;
      gap: 16px;

      .icon {
        cursor: pointer;
      }
    }

    &--title {
      color: #333333;
      font-size: 24px;
    }

    &--text {
      color: #303030;
      font-size: 16px;
      white-space: pre-line;
    }
  }
}
